$color-base: #50575e;

.image-resolution {
  display: inline-block;
  font-size: 0.8em;
  line-height: 1;
  border-radius: 0.25em;
  border: 1px solid rgba($color-base, 0.5);
  padding: 0.35em;
  color: $color-base;
  text-transform: uppercase;
  font-family: inherit;
  vertical-align: middle;

  &--fine {
    $color-fine: #00a32a;
    color: $color-fine;
    border-color: rgba($color-fine, 0.5);
  }

  &--warning {
    $color-warning: #dba617;
    color: $color-warning;
    border-color: rgba($color-warning, 0.5);
  }

  &--error {
    $color-error: #d63638;
    color: $color-error;
    border-color: rgba($color-error, 0.5);
  }
}
